extends baseEmail

block content
  p Hi #{firstName},

  p We’re sorry to inform you that your membership request at kubeFit360° has been rejected after careful consideration.

  p If you believe this was a mistake or have any questions regarding the decision, please don’t hesitate to reach out to us.

  p We appreciate your interest in kubeFit360°, and you’re always welcome to reapply in the future.

  p Wishing you the best in your fitness journey ahead.

  p - Kenab Kushal K.C, Chairman
