extends baseEmail

block content
  p Hi #{firstName},
  p Looks like you need a little help with your password. No worries—we’ve got you covered! 😊
  p Just click the button below to get started, and follow the steps to create a new password.

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If this wasn't you, just ignore this email and carry on!

  p - kubeFit360° family
  p - Kenab Kushal K.C, Chairman

