extends baseEmail

block content
  p Hi #{firstName},

  p Welcome to the kubeFit360° team! We're excited to have you on board as a #{role}.

  p Your account has been created successfully.

  p Please use the following default password to log in for the first time:

  p
    strong asdasdasd

  p For security, make sure to change your password after your first login.

  p If you have any questions, feel free to reach out.

  p
    | Best regards,  
    br
    | kubeFit360° Admin Team
