@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  @apply font-madefor;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Wix Madefor';
  src: url('/src/assets/shared/fonts/WixMadeforDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}

@layer base {
  .light {
    /* Primary Color  */
    --primary: 28 80% 52%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 28 80% 48%;

    /* Secondary Color  */
    --secondary: 23 73% 84%;
    --secondary-foreground: 27, 89%, 21%;

    /* Tertiary Color  */
    --tertiary: 29 71% 92%;
    --tertiary-foreground: 28 80% 52%;
    --tertiary-hover: 29 80% 90%;

    /* Accent Color  */
    --accent: 184 58% 25%;
    --accent-foreground: 60 99% 98%;
    --accent-hover: 184 59% 20%;
    --accent-light-hover: 185 60% 92%;
    --accent-light: 184 59% 94%;

    /* Success Color  */
    --success: 121 42% 48%;
    --success-hover: 121 42% 44%;
    --success-light: 142 70% 91%;
    --success-foreground: 0 0% 100%;

    /* Destructive Color  */
    --destructive: 3 80% 56%;
    --destructive-hover: 3 80% 52%;
    --destructive-light: 2 90% 92%;
    --destructive-foreground: 0 0% 100%;

    /* Info Color  */
    --info: 207 89% 37%;
    --info-hover: 207 89% 33%;
    --info-light: 212 76% 90%;
    --info-foreground: 0 0% 100%;

    /* Warning Color  */
    --warn: 35 95% 55%;
    --warn-hover: 35 95% 51%;
    --warn-light: 40 100% 92%;
    --warn-foreground: 0 0% 100%;

    /* Text Gray Color */
    --gray-primary: 205 25% 9%;
    --gray-secondary: 210 1% 29%;
    --gray-tertiary: 220 9% 46%;

    /* Shadows */
    --button-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
    --elevation-shadow: 6px 6px 24px 0 rgba(0, 0, 0, 0.06);
    --user-panel-shadow: -2px -2px 6px 0 rgba(0, 0, 0, 0.09);
    --cta-shadow: 4px 4px 24px rgba(17, 17, 26, 0.2);

    /* Line Height */
    --header-lineheight: 105%;

    /* Letter Spacing */
    --sm-letterspacing: -0.5px;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .primary {
    /*  min : 38px, max: 60px,*/
    @apply text-[clamp(2.375rem,1.5637rem+3.4161vw,3.75rem)];
  }

  .secondary {
    /*  min : 32px, max: 44*/
    @apply text-[clamp(2rem,1.5575rem+1.8634vw,2.75rem)];
  }

  .tertiary {
    /*  min : 28px, max: 38px,*/
    @apply text-[clamp(1.75rem,1.3812rem+1.5528vw,2.375rem)];
  }

  .quaternary {
    /*  min : 26px, max: 32px,*/
    @apply text-[clamp(1.625rem,1.4037rem+0.9317vw,2rem)];
  }

  .quinary {
    /* min: 20px, max : 24px */
    @apply text-[clamp(1.25rem,1.1025rem+0.6211vw,1.5rem)];
  }

  /* TEXT SIZES DEFINITIONS */

  .para-2xl {
    /*  min : 14px, max: 18px,*/
    @apply text-[clamp(0.875rem,0.7275rem+0.6211vw,1.125rem)];
  }

  .para-3xl {
    /* min: 16px, max : 20px */
    @apply text-[clamp(1rem,0.8525rem+0.6211vw,1.25rem)];
  }

  .para-xl {
    /* min: 12px, max : 16px  */
    @apply text-[clamp(0.875rem,0.7275rem+0.6211vw,1rem)];
  }

  .para-large {
    /* min : 10px, max: 14px */
    @apply text-[clamp(0.625rem,0.4775rem+0.6211vw,0.875rem)];
  }

  .para-subtitle {
    /* min : 14px, max: 16px */
    @apply text-[clamp(0.875rem,0.8012rem+0.3106vw,1rem)];
  }

  .span {
    /* min : 10px, max: 12px */
    @apply text-[clamp(0.625rem,0.5512rem+0.3106vw,0.75rem)];
  }

  .numeric {
    /* min: 20px, max : 24px */
    @apply text-[clamp(1.25rem,1.1025rem+0.6211vw,1.5rem)];
  }

  /* TEXT STYLES DEFINITIONS */

  .para-lg {
    @apply para-3xl text-gray-secondary;
  }

  .para-md {
    @apply para-2xl text-gray-tertiary leading-[1.8];
  }

  .para-sm {
    @apply para-xl text-gray-tertiary leading-[1.8];
  }

  .subtitle {
    @apply para-subtitle text-gray-tertiary leading-[1.6];
  }

  .hero-container {
    @apply pb-12 pt-6 px-6 md:px-0 md:pb-0 md:ms-[10%] 2xl:ms-[calc((100vw-1400px)/2)] 3xl:ms-[calc((100vw-1400px)/3)] w-fit;
  }

  /* Container that applies to all the section of the website */
  .uni-container {
    @apply px-5 md:px-0 md:max-w-[90%] md:mx-auto  2xl:max-w-[1400px];
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  /*-webkit-box-shadow: 0 0 0px 1000px #fff inset;*/
  transition: background-color 5000s ease-in-out 0s;
}
